*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background: rgb(27, 24, 24);
    color: white;
}

#header{
    width: 100%;
    height: 100vh;
    background:url(../img/backgroundindex.png);
    background-size: cover;
    background-position: center;
} 

.container-nav{
    background-color: rgb(0, 0, 0);
   width: 100%;
   background-size: cover;
    
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: rgb(240, 75, 46);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: " ";
    width: 0;
    height: 3px;
    background: rgb(151, 21, 21);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: .5s;
    -webkit-transition: .3s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin: 20%;
    font-size: 30px;
    color: rgb(23, 40, 192);
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;

}
.header-text h1 span{
    color: rgb(130, 42, 245);
}

/*about*/

#about{
    padding: 80px 0;
    color: red;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.aboutabout-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 70%;
    border-radius:15px;
}

.about-col-2{
    flex-basis: 50%;  
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: crimson;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: blue;
    position:absolute;
    left: 0;
    bottom: -8px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.tab-links.active-link::after{
    width: 100%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: aqua;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}
/*services*/
#services{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: grey;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s ;
    -webkit-transition:;
    -moz-transition:;
    -ms-transition:;
    -o-transition:;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: chartreuse;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background: goldenrod;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}